
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Urbanist', sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
::selection {
  color: black;
  background: greenyellow;
}

@font-face {
  font-family: 'FIRST';
  src: url('./assets/fonts/FIRST-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WaitingfortheSunrise';
  src: url('./assets/fonts/WaitingfortheSunrise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-waiting {
  font-family: 'WaitingfortheSunrise', cursive;
}

.font-first {
  font-family: 'FIRST', sans-serif;
}

@keyframes floating {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}
.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

/* Custom text animation */

  @keyframes text {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }

  .animate-text {
    animation: text 5s ease infinite;
  }





